#chat-screen {
    background-color: #abc1d1;
    height: 1000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    background-color: #abc1d1;
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#chat-screen .alt-header {
    top: 25px;
    z-index: 1;
}

.main-chat {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-screen .status-bar {
    z-index: 2;
}

.background-bar {
    width: 100%;
    height: 10px;
    background-color: #abc1d1;
    margin-top: -75px;
    position: fixed;
    z-index: 2;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 9px 15px;
    font-weight: 300;
    letter-spacing: 0.8px;
    border-radius: 30px;
    font-size: 13.5px;
}
