.icon-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 35px;
}

.icon-row__icon-contact {
    position: relative;
}

.icon-row__icon span {
    margin-top: 25px;
    font-weight: 600;
    font-size: 17px;
    display: flex;
}

/*more pages*/
.icon-row__more {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
}

.icon-row__icon__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 45px;
    cursor: pointer;
}

.ia {
    padding: 0px 20px;
}

.ib {
    padding: 0px 35px;
}

.ic {
    padding: 0px 30px;
    position: relative;
}

.ic img {
    margin-top: -5px;
}

.ic span {
    position: relative;
}

.ic span em {
    position: absolute;
    right: -35px;
    top: -5px;
}

.id {
    padding: 0px 0px 0px 40px;
}

.ie {
    padding: 0px 23px;
}

.if {
    padding: 0px 35px;
}

.icon-row__icon__more span {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14.5px;
    display: flex;
}
