.nav {
    background-color: #f9f9fa;
    padding: 15px 50px;
    bottom: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__link {
    color: #2e363e;
    position: relative;
    font-size: 14px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__notofication {
    position: absolute;
    left: 18px;
    bottom: 13px;
}

.nav__dot {
    background-color: tomato;
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
    left: 28px;
}
