body {
  background-color: tomato;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  height: 350px;
  width: 350px;
  border: 3px solid black;
  flex-direction: column;
  gap: 20px;
}

.box {
  background-color: darkcyan;
}

.box1 {
  height: 80px;
  width: 80px;
  border: 5px solid white;
}

.box2 {
  height: 80px;
  width: 300px;
  border: dashed 5px white;
}

.box3 {
  height: 80px;
  width: 80px;
  border: 5px solid white;
}
